@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 36, 6);
  background: linear-gradient(
    253deg,
    rgb(1, 36, 0) 0%,
    rgb(36, 226, 61) 0%,
    rgb(7, 150, 14) 0%,
    rgb(35, 90, 8) 79%,
    rgb(0, 255, 64) 87%
  );
  background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );
  --image-gradient: linear-gradient(
    to bottom left,
    rgba(16, 17, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );
}
