@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

.Big__text__contact {
  font-family: "Nunito", sans-serif;
  color: aliceblue;
  font-size: 2.1em;
}
.telegram__icon {
  margin-bottom: 10px;
  color: #0088cc;
}
.instagram__icon {
  color: #8a3ab9;
}
.youtube__icon {
  color: #ff0000;
}
.github__icon {
  color: #171515;
}
.telegram__icon,
.instagram__icon,
.youtube__icon,
.github__icon {
  margin-bottom: 5px;
  padding-right: 5px;
  display: block;
  font-size: 5rem;
}
a{justify-content: center;}
a:hover {
  text-decoration: none !important;
  color: #0088cc !important;
}
.contact-section{
    margin-bottom: 430px;
}